
<body>
<h2>Daten der Publikation</h2>



<form [formGroup]="pubAnlegenForm">

  <div class="form-group">


    <mat-form-field>
      <mat-label id="titel">Titel</mat-label>
      <input matInput formControlName="titel" class="form-control">
    </mat-form-field>

  </div>
  <div class="form-group">

    <mat-form-field>
      <mat-label id="autor">Autor</mat-label>
      <input matInput formControlName="autor" class="form-control">
    </mat-form-field>

  </div>
  <div class="form-group">

    <mat-form-field>
      <mat-label id="veroeffentlichung">Veröffentlichkeitsdatum</mat-label>
      <input type="date" matInput formControlName="veroeffentlichung" class="form-control">
    </mat-form-field>
  </div>

  <div class="form-group">

    <mat-form-field>
      <mat-label id="verlag">Verlag</mat-label>
      <input matInput formControlName="verlag" class="form-control">
    </mat-form-field>
  </div>


  <div class="form-group">

    <mat-form-field appearance="fill">
      <mat-label>Publikationsart</mat-label>
      <select formControlName="publikationsart" matNativeControl required>
        <option value="Buch">Buch</option>
        <option value="Zeitschrift">Zeitschrift</option>
        <option value="Hausarbeit">Hausarbeit</option>
        <option value="Bachelorarbeit">Bachelorarbeit</option>
        <input matInput class="form-control">
      </select>
    </mat-form-field>

  </div>
  <div class="form-group">
    <mat-form-field>
      <mat-label id="ISBN">ISBN</mat-label>
      <input matInput formControlName="ISBN" class="form-control">
    </mat-form-field>

  </div>
  <div class="form-group">
    <mat-form-field>
      <mat-label id="bestandAnzahl">Anzahl des Bestands</mat-label>
      <input type="number" matInput formControlName="bestandAnzahl" class="form-control">
    </mat-form-field>

  </div>
  <div class="form-group">




    <mat-form-field appearance="fill">
      <mat-label id="schlagwoerter">Schlagwörter</mat-label>
      <mat-select [formControl]="schlagwoerter" multiple>
        <mat-option *ngFor="let schlagwoerter of schlagwoerterList" [value]="schlagwoerter">{{schlagwoerter}}</mat-option>
      </mat-select>
    </mat-form-field>

  </div>
  <br>
  <div class="form-group">
    <button  type="submit" (click)="onsubmit()">{{vorgangstyp}}
    </button>
  </div>


</form>
</body>

