<h1>Übersicht der verwalteten Publikationen</h1>

<mat-form-field id="filter" *ngIf="publikations">
  <input matInput (keyup)="suchen($any($event.target).value)" [value]="publikations.filter">
</mat-form-field>

<table mat-table [dataSource]="publikations" matSort class="mat-elevation-z8">

  <ng-container matColumnDef="publikationID">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
    <td mat-cell *matCellDef="let item"> {{item.publikationID}} </td>

  </ng-container>
  <ng-container matColumnDef="titel">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Titel</th>
    <td mat-cell *matCellDef="let item"> {{(item.titel)}} </td>
  </ng-container>
  <ng-container matColumnDef="autor">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Autor</th>
    <td mat-cell *matCellDef="let item"> {{(item.autor)}} </td>
  </ng-container>
  <ng-container matColumnDef="isbn">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> ISBN</th>
    <td mat-cell *matCellDef="let item"> {{(item.ISBN)}} </td>
  </ng-container>
  <ng-container matColumnDef="verlag">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Verlag</th>
    <td mat-cell *matCellDef="let item"> {{(item.verlag)}} </td>
  </ng-container>


  <ng-container matColumnDef="veroeffentlichung">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Veröffentlichkeitsdatum</th>
    <td mat-cell *matCellDef="let item"> {{toLocalDateString(item.veroeffentlichung)}} </td>

  </ng-container>
  <ng-container matColumnDef="schlagwoerter">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Schlagwörter</th>
    <td mat-cell *matCellDef="let item"> {{(item.schlagwoerter)}} </td>
  </ng-container>
  <ng-container matColumnDef="bestandAnzahl">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Anzahl im Bestand</th>
    <td mat-cell *matCellDef="let item"> {{(item.bestandAnzahl)}} </td>
  </ng-container>
  <ng-container matColumnDef="publikationsart">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Art der Publikation</th>
    <td mat-cell *matCellDef="let item"> {{(item.publikationsart)}} </td>
  </ng-container>


  <ng-container matColumnDef="bearbeiten">

    <mat-header-cell *matHeaderCellDef> Bearbeiten</mat-header-cell>
    <mat-cell *matCellDef="let row">
      <button mat-button [routerLink]="['/anlegen/', row.publikationID ]"> Bearbeiten</button>
    </mat-cell>

  </ng-container>

  <ng-container matColumnDef="loeschen">
    <div>
      <mat-header-cell *matHeaderCellDef> Löschen</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-button (click)="pubLoeschen(row.publikationID)"> Löschen</button>

      </mat-cell>
    </div>

  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
