<h1>Übersicht der verwalteten Ausleihvorgänge</h1>

<table mat-table [dataSource]="dataSource" matSort class ="mat-elevation-z8">



  <ng-container matColumnDef="vorgangID">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Vorgangsnummer</th>
    <td mat-cell *matCellDef="let item"> {{item.vorgangID}} </td>
  </ng-container>
  <ng-container matColumnDef="pubID">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Publikations ID</th>
    <td mat-cell *matCellDef="let item"> {{item.pubID}} </td>
  </ng-container>
  <ng-container matColumnDef="pubTitel">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Titel</th>
    <td mat-cell *matCellDef="let item"> {{item.pubTitel}} </td>
  </ng-container>
  <ng-container matColumnDef="vorname">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Vorname</th>
    <td mat-cell *matCellDef="let item"> {{item.vorname}} </td>
  </ng-container>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Nachname</th>
    <td mat-cell *matCellDef="let item"> {{item.name}} </td>
  </ng-container>
  <ng-container matColumnDef="matrikelnummer">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Matrikelnummer</th>
    <td mat-cell *matCellDef="let item"> {{item.matrikelnummer}} </td>
  </ng-container>

  <ng-container matColumnDef="ausgabedatum">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Ausgabedatum </th>
    <td mat-cell *matCellDef="let item"> {{toLocalDateString(item.ausgabedatum)}} </td>
  </ng-container>
    <ng-container matColumnDef="rueckgabedatum">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Rückgabedatum </th>
      <td mat-cell *matCellDef="let item"> {{toLocalDateString(item.rueckgabedatum)}} </td>
  </ng-container>
  <ng-container matColumnDef="leihfristVerlaengern">
    <th mat-header-cell *matHeaderCellDef> Leihfrist verlängern </th>
    <td mat-cell *matCellDef="let item"><button  (click)=" leihvorgangVerlaengern(item)">Ausleihen verlängern
    </button> </td>
  </ng-container>
  <ng-container matColumnDef="rueckgabe">
    <th mat-header-cell *matHeaderCellDef> Rückgabe </th>
    <td mat-cell *matCellDef="let item"><button  (click)=" rueckgabe(item)">Rückgabe
    </button> </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
